RIACC/RIACC/obj/
RIACC/RIACC/bin/
RIACC/RIACC_Test/obj/
RIACC/RIACC_Test/bin/
RIACC/Business/obj/
RIACC/Business/bin/
RIACC/Common/obj/
RIACC/Common/bin/
RIACC/Data/obj/
RIACC/Data/bin/
RIACC/Encryption/obj/
RIACC/Encryption/bin/
RIACC/Entity/obj/
RIACC/Entity/bin/
RIACC/Service/obj/
RIACC/Service/bin/
