@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "About Us";
    ViewBag.CurrentPage = "about";
}


<div class="container">
    <h3 class="page-header">About Us</h3>
    <p>The RIACC - Application Name is made by the ARMED Software Development company to blah, blah, blah, blah and blah!</p>

    <p><strong>Below are the developer's names:</strong></p>
    <ol class="developers">
        <li>Mark Oliver 'KornyMan' Tan</li>
        <li>Edward Joseph 'Farty Boy' Mabuyo</li>
        <li>Rob 'Booby Boy' Roxas</li>
    </ol>
</div>